/* ORDER MOVIE */
#order-page .order .movie-selected {
  border-radius: 10px;
  background-color: white;
}

#order-page .order .movie-selected .change-movie {
  font-size: 13px;
  background-color: #EFF0F7;
  color: #5F2EEA;
  border: 0;
}

#order-page .order .movie-selected .change-movie:hover {
  background-color: #5F2EEA;
  color: #EFF0F7;
}

/* SEAT */
#order-page .order .seat {
  border-radius: 10px;
  background-color: white;
}

#order-page .order .seat .row-seat {
  padding: 8px 10px;
  background-color: #EFF0F7;
  color: #4E4B66;
  font-size: 14px;
  border-color: #DEDEDE;
  border-radius: 10px;
}

#order-page .order .seat .row-seat:focus {
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
  border-color: #5F2EEA;
}

/* BUTTON CHECKOUT */
#order-page .order .button-checkout .checkout {
  font-size: 14px;
  border-radius: 4px;
  background-color: #5F2EEA;
}

#order-page .order .button-checkout .checkout:hover {
  color: #5F2EEA;
  border-radius: 4px;
  background-color: white;
  border: 1px solid #5F2EEA;
}

#order-page .order .button-checkout .change {
  font-size: 14px;
  color: #5F2EEA;
  border-radius: 4px;
  background-color: white;
  border: 1px solid #5F2EEA;
}

#order-page .order .button-checkout .change:hover {
  color: white;
  border-radius: 4px;
  background-color: #5F2EEA;
}

/* DETAIL ORDER */
#order-page .order .card .detail-order .left p {
  font-size: 14px;
  color: #6B6B6B;
}

#order-page .order .card .detail-order .right p {
  font-size: 14px;
  color: black;
}

#order-page .order .card .detail-order {
  border-bottom: 2px solid #F5F6F8;
}