/* NAVBAR */
#navbar {
  font-family: Arial, Helvetica, sans-serif;
}

#navbar .navbar ul li {
  padding-left: 30px;
}

#navbar .navbar .Sign-In {
  padding: 7px 40px;
  font-size: 15px;
  color: #5F2EEA;
  border-color: #5F2EEA;
}

#navbar .navbar .Sign-In:hover {
  color: white;
  background-color: #5F2EEA;
}

#navbar .navbar .Sign-Up {
  padding: 7px 40px;
  font-size: 15px;
  background-color: #5F2EEA;
}

#navbar .navbar .Sign-Up:hover {
  color: #5F2EEA;
  background-color: transparent;
}

#navbar .navbar input {
  padding: 8px 15px 8px 15px;
  background-color: white;
  color: #4E4B66;
  font-size: 14px;
  border-color: #DEDEDE;
  border-radius: 10px;
  margin-left: 10px;
}

#navbar .navbar input:focus {
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
  border-color: #5F2EEA;
}