/* BUTTON LOGOUT */
#profile-history .card-profile .btn-logout {
  border-radius: 15px;
  border: 1px solid #5F2EEA;
  font-size: 14px;
  padding: 10px 50px;
  background-color: #5F2EEA;
}

#profile-history .card-profile .btn-logout:hover {
  border: 1px solid #5F2EEA;
  color: #5F2EEA;
  background-color: white;
}

/* NAVBAR PROFILE */
#profile-history .right .navbar-profile .order {
  color: #14142B;
}

#profile-history .right .navbar-profile .setting {
  color: #AAAAAA;
}

/* HISTORY ORDER */
#profile-history .right .history-order .date-order {
  color: #AAAAAA;
  font-size: 14px;
}

#profile-history .right .history-order .btn-ticket-active {
  border-radius: 8px;
  border: 1px solid #5F2EEA;
  font-size: 14px;
  padding: 8px 35px;
  background-color: #5F2EEA;
}

#profile-history .right .history-order .btn-ticket-active:hover {
  border: 1px solid #5F2EEA;
  color: #5F2EEA;
  background-color: white;
}

#profile-history .right .history-order-nonactive .date-order {
  color: #AAAAAA;
  font-size: 14px;
}

#profile-history .right .history-order-nonactive .btn-ticket-active {
  border-radius: 8px;
  border: 1px solid #6E7191;
  font-size: 14px;
  padding: 8px 35px;
  background-color: #6E7191;
}